<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<table border="0" cellspacing="0" cellpadding="7">
		<tr>
			<td class="tableLoginTdMiddle" colspan="2">
				<div class="deviseUeber">Registrieren</div>
			</td>
		</tr>
		<tr>
			<td class="error" colspan="2">
				<%= devise_error_messages! %>
			</td>
		</tr>

		<tr>
			<td>
				<div class="tableLoginTdLabel"><%= f.label :email, "Email:" %></div>
			</td>
			<td>
  				<%= f.email_field :email, autofocus: true %>
  			</td>
  		</tr>

  		<tr>
  			<td>
  				<div class="tableLoginTdLabel">
	  				<%= f.label :password,"Passwort:" %>
	  				<% if @validatable %>
	  					<br /><i>(<%= "Mindestens #{@minimum_password_length}  Zeichen"%>)</i>
	  				<% end %>
	  			</div>
	  		</td>
	  		<td>
    			<%= f.password_field :password, autocomplete: "off" %>
    		</td>
    	</tr>

    	<tr>
    		<td>
  				<div class="tableLoginTdLabel"><%= f.label :password_confirmation,"Passwort wiederholen:" %></div>
  			</td>
  			<td>
    			<%= f.password_field :password_confirmation, autocomplete: "off" %>
    		</td>
    	</tr>

    	<tr>
    		<td></td>
    		<td>
  				<div><%= f.submit "Sign up" %></div>
  			</td>
  		</tr>
  </table>
<% end %>
