<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <table border="0" cellspacing="0" cellpadding="7" width="100%"> 
  	<tr>
		<td colspan="2" class="tableLoginTdMiddle">
			<div class="deviseUeber">Forgot your password?</div>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			<div class="error">
				<%= devise_error_messages! %>
			</div>
		</td>
	</tr>

	<tr>
		<td>
			<div><%= f.label :email %></div>
		</td>
		<td>
  			<%= f.email_field :email, autofocus: true %>
  		</td>
  	</tr>

  	<tr>
  		<td colspan="2" class="tableLoginTdMiddle">
  			<div><%= f.submit "Send me reset password instructions" %></div>
  		</td>
  	</tr>
<% end %>
