
<div id="divEdNew">
	<table border="0" cellspacing="10" cellpadding="0" width="100%">
	<tr>
		<td>
			<div class="error">
				<ul>
				<% @password.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		</td>
	</tr>
	<tr>		
		<%= form_for(@password, url: passwdURL(@password),method: passwdURLMethod(@password)) do |p| %>
			<%= p.hidden_field "phrase",  value: params[:phrase] %>
			<table border="1" cellspacing="0" cellpadding="10">
				<tr>
					<td><%= p.label :url %></td>
					<td><%= p.text_field :url %></td>
				</tr>
				<tr>
					<td><%= p.label :login %></td>
					<td><%= p.text_field :login %></td>
				</tr>
				<tr> 	
					<td><%= p.label :password ,"Passwort" %></td>
					<td><%= p.password_field :password , :id => "inpEdNePasswd", :onkeyup => "changePassw();" %></td>
				</tr>
				<tr>
					<td style="text-align:center;"><input type="checkbox" id="cbEdNePlaintext" onchange="showPlainText()" /></td>
					<td>Passwort anzeigen</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:center;"><button id="btVerschluesseln" type="button" onclick="btClickVerschl()">Verschlüsseln</button></td>
				</tr>
				<tr>
					<% if @password.new_record? %>
						<td colspan="2" style="text-align: center;"><%= p.submit "Senden", :disabled => 'disabled',:id => 'btEdNeSenden' %></td>
					<% else %>
						<td colspan="2" style="text-align: center;"><%= p.submit "Senden",:id => 'btEdNeSenden' %></td>
					<% end %>
				</tr>
				<% end %>
			</table>
		</td>
	</tr>
</div>