<% i = 0 %>
<% passwords.each do |passwd| %>
	<% i += 1 %>
	<% @login = passwd.login.gsub '@','&#64;' %>
	<div class="divIPassword">
		<table border="0" cellspacing="10" cellpadding="0" width="100%">
			<tr>
				<td width="5%"><%= i %>.</td>
				<% if isLogin %>
					<td width="20%"><%= link_to passwd.login,passwordmanager_showLogin_path(params[:phrase],htmlSpecialCharsHp(passwd.login)) %></td>
				<% end %>
				<td width="20%"><%= passwd.url %></td>
				<td width="20%">
					<div id=<%= "divPasswdUeber#{passwd.id}" %> password=>********************</div>
					<div style="display:none;" id=<%= "divPasswdUeber#{passwd.id}passwd" %>><%= passwd.password %></div>
				</td>
				<td width="15%" ><div id=<%= "tdPasswdTimer#{passwd.id}" %>>
					<a class="divPasswdUeber" passwordID=<%= "#{passwd.id}" %>>Passwort anzeigen</a>
				</div></td>
				<td width="10%"><%= link_to "bearbeiten", edit_passwordmanager_path(params[:phrase],passwd) %></td>
				<td width="10%"><%= link_to 'löschen', destroy_password_path(params[:phrase],passwd,route), data: {confirm: "'#{passwd.url}' wirklich löschen?"}, method: :delete %></td>
			</tr>
		</table>
	</div>
<% end %>