<!DOCTYPE html>
<html>
<head>
	<title>Passwordmanager</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<% if session[:order_by] == nil %>
		<% session[:order_by] = "1" %>
	<% end %>
	<table border="0" cellspacing="10" cellpadding="0" width="100%">
		<tr>
			<td><div id="divUeber">Passwort Manager</div></td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>

		<% if flash[:alert] %>
			<tr>
				<td >
					<div class="error"><%= flash[:alert] %></div>
				</td>
			</tr>
		<% end %>

		<% if flash[:notice] %>
			<tr>
				<td >
					<div class="notice"><%= flash[:notice] %></div>
				</td>
			</tr>
		<% end %>
		
		<tr>
			<td><%= yield %></td>
		</tr>
	</table>
</body>
</html>
